.bem-vindo {
    color: rgb(21, 146, 155);
    font-size: 24px;
    text-align: center;
}

.contador {
  text-align: center;
  margin-top: 30px;
}

.contador button, .cor-fundo button, .formulario button {
  margin: 10px;
  padding: 10px 20px;
  background-color: rgb(21, 146, 155);
  border: none;
  color: white;
  font-size: 16px;
  cursor: pointer;
}

.contador button:hover {
  background-color: #45a049;
}

.cor-fundo{
    text-align: center;
    margin-top: 30px;
}

.formulario {
    text-align: center;
    margin-top: 30px;
}